@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@font-face {
  font-family: 'saxmono';
  src: url('/assets/fonts/saxmono.ttf') format('opentype');
}

.header {
  background-color: #006400;
  vertical-align: middle;
  text-align: center;
  font-weight: lighter;
  font-size: 28pt;
  color: white;
}

#title {
  height: 70px;
  margin-top: -20px;
}
#sponsor {
  position: absolute;
  left: 15px;
  top: 15px;
  max-height: 135px;
  box-shadow: 0px 0px 5px #fff;
}
#registration {
  position: absolute;
  right: 15px;
  top: 15px;
  max-height: 120px;
}
.footer {
  /* vertical-align: middle;
  text-align:right;
  margin-top: 40px;
  margin-right: 100px; */
  position: absolute;
  bottom: 50px;
  right: 40px;
  font-size: 42pt;
}
.page-footer {
  height: 100px;
  margin-top: 60px;
  background-color: #006400;
}
.no-data {
  vertical-align: middle;
  text-align: center;
  font-size: 46pt;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
.form-group {
  margin: 55px 0 55px 0;
}
